body {
  background-color: white;
}

#resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#resourceTitle {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  color: white;
}

#siteLinks {
  margin-left: 200px;
}

.siteLinkItem {
  display: flex;
  font-size: 24px;
}

img {
  display: block;
  height: 400px;
  width: 700px;
  margin-top: 50px;
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: 7px 7px 45px white;
}

a {
  text-decoration: none;
}
